@mixin font-main($size, $color, $weight, $lh: normal, $ls: normal) {
  font: {
    family: 'Inter', Helvetica, Arial, sans-serif;
    size: $size;
    weight: $weight;
  }
  color: $color;
  @if $lh {
    line-height: $lh;
  }
  @if $ls {
    letter-spacing: $ls;
  }
}

@mixin hover {
  transition: opacity 0.4s ease;
  &:hover {
    opacity: 0.7;
  }
}
