@font-face {
  font-family: Inter;
  font-display: swap;
  src:
    url('../../shared/ui/assets/fonts/Inter-Regular.woff2') format('woff2'),
    url('../../shared/ui/assets/fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
